+++
title = "Modelix"
linkTitle = "Modelix"

+++

{{< blocks/cover title="Welcome to Modelix!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
        Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://docs.modelix.org">
        Documentation <i class="fa fa-book ml-2 "></i></a>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/modelix">
        Source Code <i class="fab fa-github"></i></a>
    <p class="lead mt-5"><strong>A collaborative and scalable open source platform for domain-specific models on the web</strong></p>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Modelix is a open source platform that **aims to bring modeling on the web**, which aims for a productive integration between modern web technologies and best-practices from language engineering.
We provide collaborative editing of domain-specific models in the browser and allow to interact with models and services around them over web-standard APIs.

Right now Modelix can act as an extension or drop in replacement to create webbased editor for existing languages in JetBrains MPS.
{{% /blocks/lead %}}


{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="See Modelix in action!" url="https://docs.modelix.org/modelix/latest/samples/reference/architecture.html" %}}
Get started with our example projects and try modelix yourself.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/modelix/" %}}
We do a [Pull Request](https://github.com/modelix/modelix.core/pulls) contributions workflow on **GitHub**. New contributors are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Join the discussion on Slack!" url="https://jetbrains-mps.slack.com/archives/C01ADCD6VSM" %}}
[Sign up](http://slack-mps.jetbrains.com/) to the MPS community Slack and join us in #modelix
{{% /blocks/feature %}}
{{< /blocks/section >}}

