+++
title = "Modelix"
linkTitle = "Modelix"

+++

{{< blocks/cover title="Welcome to the Modelix Project!" image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto mt-5">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="http://server.modelix.org"> Demo <i class="fas fa-laptop"></i></a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://docs.modelix.org"> Documentation <i class="fa fa-book ml-2 "></i></a>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/modelix"> Source Code <i class="fab fa-github"></i></a>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://issues.modelix.org"> Issue Tracker <i class="fas fa-bug"></i></a>

    <p class="lead mt-5"><strong>A collaborative and scalable open source platform for domain-specific models on the web and in the cloud</strong></p>
    {{< blocks/link-down color="info" >}}
</div>

{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

## The modelix Platform{#info}

### Our Vision

The modelix project develops a next generation platform for domain-specific models on the web.

### Our Mission

Modelix applies established web technologies to provide the infrastructure to build domain-specific modeling tools on the web/cloud.
The developed infrastructure is a modular platform which integrates with existing language workbenches whilst exploring new approaches.
We aim for a productive integration between modern web technologies and best-practices from language engineering.

### Our Origin

Our work is inspired by [this document](http://voelter.de/data/pub/APlatformForSystemsAndBusinessModeling.pdf).
{{% /blocks/lead %}}





{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-glasses" title="See Modelix in action!" url="http://server.modelix.org/" %}}
Check the Demo server runing modelix.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Look at Modelix samples!" url="https://docs.modelix.org/modelix/latest/samples/reference/architecture.html" %}}
Get started with our example projects and try modelix yourself.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Join the discussion on Slack!" url="https://jetbrains-mps.slack.com/archives/C01ADCD6VSM" %}}
[Sign up](http://slack-mps.jetbrains.com/) to the MPS community Slack and join us in <strong>#modelix</strong> - or [contact us via E-Mail](mailto:modelix@itemis.com).
{{% /blocks/feature %}}
{{< /blocks/section >}}






{{% blocks/lead color="primary" %}}
### Our State
We aim for a productive integration between modern web technologies and best-practices from language engineering.
On the path to this final vision, the short-term goal is to use [JetBrains MPS](https://www.jetbrains.com/mps/) as the backend wherever feasible.
However, you are not required to use MPS with the modelix platform - we also support other meta-model sources.
To this end, we developed several components which allow you to realize a wide range of use-cases with different architectures.

Descriptions and information on all individual components can be found [in our documentation](https://docs.modelix.org/).
To understand our current state, visit the <i class="fa-arrow-up-right"></i>[architecture section](https://docs.modelix.org/modelix/latest/explanation/architecture.html),
to learn more about our intentions, check the [goals section](https://docs.modelix.org/modelix/latest/explanation/goals.html).

### Our Plan

If you are interested where we are going, check our [Development, Release, and Roadmap plan](https://docs.modelix.org/modelix/latest/main/roadmap.html).
{{% /blocks/lead %}}



{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fab fa-github" title="Browse Platform Releases!" url="https://github.com/modelix/modelix.platform/tags/" %}}
We [release the modelix platform bi-yearly](https://docs.modelix.org/modelix/latest/main/roadmap.html#_release_cycle). Check out the available releases.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-code-branch" title="Contributions welcome!" url="https://github.com/modelix/" %}}
We do a [Pull Request](https://github.com/modelix/modelix.core/pulls) contributions workflow on **GitHub**. New contributors are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-bug" title="Report a Bug!" url="https://issues.modelix.org/" %}}
Report a bug you encountered with modelix in our [issue tracker](https://issues.modelix.org/newIssue).
{{% /blocks/feature %}}
{{< /blocks/section >}}

